/* Add css rules here for your application. */
.floatLeft {
	float: left;
}

.comma {
	padding-right: 0.3em;
}

.link {
	cursor: pointer;
}

.embedded-link div {
	cursor: pointer;
}

.addedRow td {
	background-color: #dff0d8 !important;
	border-color: #dff0d8 !important;
}

.removedRow td {
	text-decoration: line-through;
	background-color: #f2dede !important;
	border-color: #f2dede !important;
}

.red {
	color: red;
}

.green {
	color: green;
}

.olTileImage {
	max-width: none;
}

.tinyMargins {
	margin-left: 1%;
	margin-right: 1%;
}

.tinyLeftMargin {
	margin-left: 1%;
}

.navbar {
	margin-bottom: 0px !important;
}

.resultTable th {
	padding-bottom: 12px !important;
	font-size: 12px;
}

.headerCheckBox input[type="checkbox"] {
	margin-top: 0px;
}

.rowCheckBox input[type="checkbox"] {
	margin-top: 10px;
	margin-bottom: 10px;
}

.dateRangeInput {
	width: 100%;
}

.smallMarginTop {
	margin-top: 5px;
}

.diary thead {
	background-color: #f5f5f5;
}

.platform span {
	font-size: 1.2em !important;
	padding: 5px;
}

.timeline-band {
    z-index:    0 !important;
}
